*{
    margin: 0px;
    padding: 0px;
}
/* header part started */

header{
    height: 95vh;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
header div{
    width: 600px;
}
.header-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-title{
    font-size: 70px;
    font-weight: bolder;
}
.para{
    color: rgba(39, 39, 39, 0.6);
}
.primary-btn{
    width: 130px;
    padding: 15px 20px;
    color: white;
    background-color: rgb(229, 84, 115);
    border: 3px solid rgb(229, 84, 115);
    border-radius: 10px;
}
.header-image{
    height: 100%;
    position: relative;
}
.header-image img{
    width: 500px;
    position: absolute;
    bottom: 0px;
}

/* header part Completed */
/* main part started */

.featured-flower-container{
    height: 110vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.featured-flower-title{
    font-size: 40px;
}
.featured-flower-container p{
    width: 500px;
    text-align: center;
}
.flower-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flower-card{
    width: 400px;
    height: 500px;
    text-align: center;
    gap: 20px;
    margin: 10px 0px;
}
.flower-card h3{
    text-decoration: underline;
    margin: 30px;
}
.flower{
    height: 450px;
    width: 380px;
    background-color: rgb(167, 33, 98,0.15);
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.flower img{
    width: 280px;
   position: absolute;
   bottom: 0px;
   left: 40px;
}
.flower2{
    position: relative;
    background-color: #D9EFF1;
}
.flower2 img{
    position: absolute;
    bottom: 50px;
    left: 60px;
}
.flower3{
    background-color: #E3EBDB;
}

.facility{
    width:80vw;
    height: 250px;
    background-color: #F4F4F4;
    margin: 40px auto 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.support{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.facility div img{
    width: 80px;
}
.support1{
    width: 160px;
}
.discount{
    background-color: #FEF6F8;
    height: 480px;
    display: flex;
    justify-content: space-evenly;
}
.left-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    gap: 40px;
}
.deal-title{
    font-size: 35px;
}
.left-part .para{
    width: 450px;
    text-align: center;
}
.right-part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bouquet img{
    width: 280px;
}